body{
  font-family:  Courier, monospace;
  font-size: 12px;
  line-height: 3em;
  
}

#testMeasure{
  display:none;
  width:auto;
  height: auto;
 // outline: black solid 1px;
}

.wrap{
  position: relative;
  margin: auto;
  margin-top: 3em;
  width:92em;

//  outline: black solid 1px;

  
}

.weekend{
  position: absolute;
  top: -1em;
  width: 1em;
  height: 54em;
  background-color: #DDDDDD;
  opacity: .5;
}

.event{
  position: absolute;
  height:1.75em; 
  background-color: #22BB22;
  opacity: .5;

}

.summary{
  position: absolute;
  bottom: 2.5em;
  width: 100%;
  max-height: 2em;


  
  font-size: .8em;
  line-height: 1em;
  
  color: black; 
  text-align: center;
}

#authorize-button{
  position: fixed;
  top: 1em;
  right: 1em;

}