body{
  font-family:  font-family: 'Open Sans', sans-serif;
  font-weight:300;
  font-size: 12px;
  line-height: 3em;
  
}

.wrap{
  position: relative;
  margin: auto;
  
}

#calendar{
  text-align: center;
  padding-top: 3%;
}

.month{
  fill:none;
  stroke:#CCCCCC;
  stroke-width:1;
}

.monthTitle{
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight:700;
  font-size:2em;
  fill: #333333;  
}

.dayOfWeek{
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight:700;
  font-size:1.1em;
  fill: #333333;  

}


.weekend{
  fill:#CCCCCC;
  opacity:.4;
  stroke:#333333;
  stroke-width:2;
}

.date, .summary{
  text-anchor:middle;
}

.event{
  fill:#72E855;
  opacity:.6;
  stroke:#29541F;
  stroke-width:2;
}


#authorize-button{
  position: fixed;
  top: 1em;
  right: 1em;

}